# Dependencies
node_modules/
.pnpm-store/

# Builds and tooling
.svelte-kit/
build/
dist/
.vite/
.output/

# Platform adapters (ignore if used)
.vercel/
.netlify/

# Env files
.env
.env.*
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editors/OS
.DS_Store
.idea/
.vscode/

